/* KPMG colors */
$KPMG_Blue = rgb(0, 51, 141) // #00338d
$Medium_Blue = rgb(0, 94, 184) // #005eb8
$Light_Blue = rgb(0, 145, 218) // #0091da
$Violet = rgb(70, 53, 150) // #483698
$Purple = rgb(71, 10, 104) // #470a68
$Light_Purple = rgb(109, 32, 119) // #6d2077
$Green = rgb(0, 163, 161) // #00a3a1
$Dark_Green = rgb(0, 154, 68) // #009a44
$Light_Green = rgb(67, 176, 42) // #43b02a
$Yellow = rgb(234, 170, 0) // #eaaa00
$Orange = rgb(246, 141, 46) // #f68d2e
$Red = rgb(188, 32, 75) // #bc204b
$Pink = rgb(198, 0, 126) // #c6007e
$Dark_Brown = rgb(117, 63, 25) // #753f19
$Light_Brown = rgb(155, 100, 46) // #9b642e
$Olive = rgb(157, 147, 117) // #9d9375
$Beige = rgb(227, 188, 159) // #e3bc9f
$Light_Pink = rgb(227, 104, 119) // #e36877
/* Customs colors */
$White = rgb(255, 255, 255) // #ffffff
$Black = rgb(74, 74, 74) // #4a4a4a
$Line_Color = #dfe3e6 // #dfe3e6
$Notice_Barcolor = rgb(21, 41, 53) // #152935
$Time_Color = rgb(155, 155, 155) // #9b9b9b
$Background_Color = rgb(220, 236, 248) // #dcecf8
$Other_Bg = #b7d8ef
$Btn_Discolor = rgb(216, 216, 216) // #d8d8d8
$Font12 = 12px
$Font14 = 14px
$Font16 = 16px
$Font18 = 18px
$Font-family = 'Microsoft YaHei', 'Open Sans', 'Clear Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
$Content_Border = #979797
$Other_Border = #dfe3e6
